* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(27, 27, 27);
}

.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text--page {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}